---
const { name, imgBase, alt, slug } = Astro.props;
---

<a href={`/producto/${slug}`} class="product">
  
  <picture>
    <source srcset={`/img/${imgBase}.avif`} type="image/avif" />

    <img 
      src={`/img/${imgBase}.png`} 
      alt={alt}
      loading="lazy"
    />
  </picture>

  <h2>{name}</h2>

  <p class="info">
    Descubre la energía de {name}
  </p>

</a>